body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    margin-top: 20px;
}
header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/essentiaLogo.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
}
.btn-comprar {
    background: #FAD5C2;
    color: #7D593F;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-comprar:hover {
    background: #FBB29F;
}
footer {
    background: #7D593F;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    opacity: 0.9; /* Agrega un poco de opacidad */
}

/* Agrega este código CSS en tu archivo mainPage.css o en un archivo CSS separado */

.navbar {
    background-color: #7D593F; /* Cambia el color a tu preferencia, en este caso, es azul (#007bff) */
    opacity: 0.9; /* Agrega un poco de opacidad */
    
}

.navbar .navbar-nav .nav-link {
    color: #fff; /* Cambia el color del texto de los enlaces del navbar a blanco */
}

/* Cambia el color del enlace cuando se pasa el ratón sobre él */
.navbar .navbar-nav .nav-link:hover {
    color: #AABDA7; /* Cambia el color al pasar el ratón por encima (#0056b3) */
}

/* Cambia el color de los enlaces <a> dentro del navbar */
.navbar a {
    color: #fff; /* Cambia el color de los enlaces a tu preferencia (blanco en este caso) */
}

/* Cambia el color de los enlaces cuando se pasa el ratón sobre ellos */
.navbar a:hover {
    color: #AABDA7; /* Cambia el color al pasar el ratón por encima (#0056b3) */
}

footer img {
    width: 30px; /* Ancho deseado en píxeles */
    height: 30px; /* Alto deseado en píxeles */
}